body {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
}

section {
    height: 100vh;
    display: grid;
    align-content: center;
    place-items: center;
}

.hide {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

ul > li:nth-child(2) {
    transition-delay: 200ms;
} 

ul > li:nth-child(3) {
    transition-delay: 400ms;
}

ul > li:nth-child(4) {
    transition-delay: 600ms;
}

@media (prefers-reduced-motion: no-preference) {
    .hide {
        transition: all 1s;
    }
}